name: update bpf-next
on:
  # Allow manual triggers.
  workflow_dispatch: {}
  # Run once a day.
  schedule:
    - cron: "0 1 * * *"
jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: commit
        id: commit
        run: |
          id=$(date +%Y%m%d.%H%M%S)
          git switch -c pr/bpf-next-${id}
          git config user.name "GH action"
          git config user.email "ghabot@does.not.exist.cilium.org"
          echo "bpf-next $id" > misc/dummy
          echo "bpf $id" >> misc/dummy
          git add misc/dummy
          git commit -a -m "bpf/bpf-next: $id"
          git show HEAD
          git push --set-upstream origin pr/bpf-next-${id}
          echo "id=$id" | tee -a $GITHUB_OUTPUT
      - name: push PR
        env:
          GH_TOKEN: ${{ secrets.LVH_GITHUB_TOKEN }}
        run: |
          id=${{ steps.commit.outputs.id }}
          gh pr create \
            -l "gha-builds/kernel/bpf-next" \
            -l "gha-builds/kernel/bpf" \
            --title "bpf/bpf-next update: $id" \
            --body "PR to update bpf/bpf-next" \
