name: buildx-step
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      build-file:
        required: true
        type: string
      build-tag:
        required: true
        type: string
      check-files:
        required: true
        type: string
      base-ref:
        required: true
        type: string
      build-args:
        default: ''
        type: string
      dry-run:
        default: false
        type: boolean
      patch-cmd:
        type: string
      apply-patch:
        type: string
      apply-patch-2:
        type: string
jobs:
  build:
    runs-on: ubuntu-latest-4cores-16gb
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: init git repo
        run: |
          git config user.name "GH action"
          git config user.email "ghabot@does.not.exist.cilium.org"

      - name: Check if files were modified
        id: check
        run: |
         git fetch origin
         set +e
         git diff --quiet --exit-code origin/${{ inputs.base-ref }}..origin/${{ github.event.pull_request.head.ref }} ${{ inputs.check-files }}
         if [ $? -eq  0 ]; then
           echo "No changes, no need to rebuild"
           echo  "build=n" | tee -a $GITHUB_OUTPUT
         else
           echo "Need to rebuild"
           echo  "build=y" | tee -a $GITHUB_OUTPUT
         fi
         set -e

      - name: download first patch
        if: ${{ steps.check.outputs.build == 'y' && inputs.apply-patch != '' }}
        uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # v4.1.1
        with:
           name: ${{ inputs.apply-patch }}
           path: /tmp/
      - name: apply first patch
        if: ${{ steps.check.outputs.build == 'y' && inputs.apply-patch != '' }}
        run: |
          if [ $(wc -l < /tmp/${{ inputs.apply-patch }} ) -gt 0 ]; then
            git am /tmp/${{ inputs.apply-patch }}
            git log --oneline -n 2
          fi

      - name: download second patch
        if: ${{ steps.check.outputs.build == 'y' && inputs.apply-patch-2 != '' }}
        uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # v4.1.1
        with:
           name: ${{ inputs.apply-patch-2 }}
           path: /tmp/
      - name: apply second patch
        if: ${{ steps.check.outputs.build == 'y' && inputs.apply-patch-2 != '' }}
        run: |
          if [ $(wc -l < /tmp/${{ inputs.apply-patch-2 }} ) -gt 0 ]; then
            git am /tmp/${{ inputs.apply-patch-2 }}
            git log --oneline -n 2
          fi

      - name: setup buildx
        if: ${{ steps.check.outputs.build == 'y' && !inputs.dry-run }}
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0
      - name: quay login
        if: ${{ steps.check.outputs.build == 'y' && !inputs.dry-run }}
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - name: build and push
        if: ${{ steps.check.outputs.build == 'y' && !inputs.dry-run }}
        uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
        with:
          context: .
          push: true
          no-cache: true
          file: ${{ inputs.build-file }}
          tags: ${{ inputs.build-tag }}
          build-args: ${{ inputs.build-args }}
      - name: run commands and generate patches
        if: ${{ steps.check.outputs.build == 'y' && inputs.patch-cmd != '' }}
        run: |
            old=$(git rev-parse --abbrev-ref HEAD)
            git switch -c tmp-${{ inputs.name }}
            ${{ inputs.patch-cmd }}
            git add .
            git commit --all -m "TEMP: ${{ inputs.name }}"
            git format-patch -1 --stdout | tee ${{ inputs.name }}.patch
            git switch $old

      - name: generate empty patch
        if: ${{ steps.check.outputs.build != 'y' && inputs.patch-cmd != '' }}
        run: |
            truncate -s 0 ${{ inputs.name }}.patch

      - name: upload patch
        if: ${{ inputs.patch-cmd != '' }}
        uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4.3.0
        with:
          name: ${{ inputs.name }}.patch
          path: ${{ inputs.name }}.patch
